<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:targetApi="35">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedscope"
            android:value="at.gv.oe.app;at.gv.bmf.bmf2go" />
        <meta-data
            android:name="xposeddescription"
            android:value="Allows the use of Digitales Amt / FON+ with a rooted device." />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
